<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- Navigation Bar -->
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'account:login' %}">Login</a></li>
            </ul>
        </nav>
    </header>


        <main>
        {% block content %}
        <!-- Content specific to each page goes here -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 My Website. All Rights Reserved.</p>
    </footer>

</body>
</html>